{% extends 'layout.html' %}

{% block content %}
    


    <div class="container mt-5">
        <div class="text-center mb-5">
            <h1 class="display-4">Welcome to Sponsify- the Ad Campaign Management Application</h1>
            <p class="lead">Developed by Jhanvii Rawat</p>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">User Management</h5>
                <p class="card-text">This application supports three types of users: Admin, Sponsor, and Influencer. Users can register, login, and manage their profiles.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Campaign Management</h5>
                <p class="card-text">Sponsors can create, view, edit, and delete campaigns. Each campaign can have multiple ad requests associated with it.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Ad Requests</h5>
                <p class="card-text">Sponsors can create ad requests for their campaigns. Ad requests can be viewed, managed, and processed by both sponsors and admins.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Search Functionality</h5>
                <p class="card-text">The application includes a search feature to find influencers, companies, and campaigns based on various filters.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Admin Dashboard</h5>
                <p class="card-text">Admins have access to a dashboard where they can view and manage all campaigns and ad requests. They can also view statistics and perform administrative actions.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Profile Management</h5>
                <p class="card-text">Users can update their profile information, including their username, password, and other details.</p>
            </div>
        </div>

        
    </div>

    
{% endblock %}